version: '3.9'

services:
  app:
    container_name: ip-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "8080:8080"
    command: ["npm", "run", "dev"]
