nameOverride: backend

image:
  repository: docker.io/cableship/backend

  tag: "latest"

  pullPolicy: IfNotPresent

replicaCount: 2

service:
  type: ClusterIP

  port: 80

  containerPort: 8080

probes:
  readiness:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 5
    periodSeconds: 10

  liveness:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 10
    periodSeconds: 10

resources:
  requests:
    cpu: 100m
    memory: 128Mi

  limits:
    cpu: 200m
    memory: 256Mi

autoscaling:
  minReplicas: 2

  maxReplicas: 5

  targetCPUUtilizationPercentage: 80

  targetMemoryUtilizationPercentage: 70

ingress:
  dns:
    name: backend-dns

    target: gaia.dns.org.com

    additionalHosts: []

  tls:
    cert: backend

    certName: cert-name

  gateway:
    name: backend

  virtualservice:
    - match:
        - uri:
            prefix: "/"

      name: "ping-routes"

      route:
        - destination:
            host: backend

            port:
              number: 80
