name: Build and Deploy

on:
  push:
    branches:
      - release/production

jobs:
  build-and-push-image:
    name: Build and push Docker image
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      REGISTRY_URL: ${{ secrets.PRIVATE_REGISTRY_URL }}
      IMAGE_REPOSITORY: ${{ secrets.PRIVATE_REGISTRY_REPOSITORY }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set image tag
      run: |
        IMAGE_TAG=$(git rev-parse --short HEAD)
        echo "IMAGE_TAG=$IMAGE_TAG" >> "$GITHUB_ENV"

    - name: Log in to private registry
      env:
        REGISTRY_USERNAME: ${{ secrets.PRIVATE_REGISTRY_USERNAME }}
        REGISTRY_PASSWORD: ${{ secrets.PRIVATE_REGISTRY_PASSWORD }}
      run: |
        echo "$REGISTRY_PASSWORD" | docker login "$REGISTRY_URL" -u "$REGISTRY_USERNAME" --password-stdin

    - name: Build Docker image
      run: |
        docker build -f app/Dockerfile -t "$REGISTRY_URL/$IMAGE_REPOSITORY:$IMAGE_TAG" app

    - name: Push Docker image
      run: |
        docker push "$REGISTRY_URL/$IMAGE_REPOSITORY:$IMAGE_TAG"

    - name: Install yq
      run: sudo snap install yq

    - name: Update values.yaml with new image tag
      run: |
        yq e '.image.tag = strenv(IMAGE_TAG)' -i infra/argocd/values.yaml

    - name: Commit and push updated values.yaml
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add infra/argocd/values.yaml
        git commit -m "Update image tag to $IMAGE_TAG"
        git push
